<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alta Empleador</title>
  
   <link rel="stylesheet" type="text/css" href="static/css/styles.css" th:href="@{/css/styles.css}">
</head>



<body>

  <form>
    
    <input class="editTxt " type="number" name="cuitEmp" placeholder="CUIT">
    <input class="editTxt" type="password" name="passwordEmp" placeholder="Contraseña">
    <input class="editTxt" type="text" name="razonEmp" placeholder="Razon social">

    <div>
      <p>Inicio de activdad
        <input class="editTxt" type="date" name="fechaoEmp" >
      </p>         
   </div>

    <input class="editTxt" type="date" name="inicioEmp">
    <input class="editTxt" type="email" name="correoEmp" placeholder="Email">
    <input class="editTxt" type="tel" name="telefonoEmp" placeholder="Ingrese su telefono">

    <!-- #select -->
    <select class="editTxt" name="delegacion">
      <option disabled selected>Seleccione su provincia</option>
      <option> Buenos Aires </option>
      <option> Catamarca </option>
      <option> Chaco </option>
      <option> Chubut </option>
      <option> Ciudad Autónoma de Buenos Aires </option>
      <option> Córdoba </option>
      <option> Corrientes </option>
      <option> Entre Ríos </option>
      <option> Formosa </option>
      <option> Jujuy </option>
      <option> La Pampa </option>
      <option> La Rioja </option>
      <option> Mendoza </option>
      <option> Misiones </option>
      <option> Neuquén </option>
      <option> Río Negro </option>
      <option> Salta </option>
      <option> San Juan </option>
      <option> San Luis </option>
      <option> Santa Cruz </option>
      <option> Santa Fe </option>
      <option> Santiago del Estero </option>
      <option> Tierra del Fuego </option>
      <option> Tucumán </option>
    </select>
    <!-- #endSelect -->
    <input class="editTxt" type="text" name="domicilioEmp" placeholder="Domicilio">
    <input class="editTxt" type="text" name="webEmp" placeholder="Pagina Web">
    <p><input type="checkbox" name="terminos">
      Acepta los termino y condiciones</p>


    <!-- Botones -->
    <input class="btn bg-white" type="submit" value="Enviar">
    <input class="btn bg-white" type="reset" value="Borrar">
  </form>

</body>

</html>